<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>비밀번호 변경</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link th:href="@{/css/main_style.css}" rel="stylesheet" />
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<!-- Navigation-->
<div th:replace="/fragments/header.html :: fragment-header"></div>
<!-- Section-->
<section class="py-5 mt-5">
  <main class="form-main w-100 m-auto">
    <form class="mt-5" action="/profile/changePw" method="post">
      <h1 class="h3 mb-3 fw-normal">프로필 관리</h1>
      <div class="form-floating">
        <input type="password" class="form-control" id="nowPassword" name="nowPassword" placeholder="현재 비밀번호">
        <label for="nowPassword">현재 비밀번호</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control mb-2" id="newPassword" name="newPassword" placeholder="새 비밀번호">
        <label for="newPassword">새 비밀번호</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="비밀번호 확인">
        <label for="repeatPassword">새 비밀번호 확인</label>
        <div class="valid-feedback" id="password_success">
          비밀번호가 일치합니다
        </div>
        <div class="invalid-feedback" id="password_fail">
          비밀번호와 일치하지 않습니다. 다시 입력해 주세요.
        </div>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">비밀번호 변경</button>
    </form>
  </main>
</section>
<!-- Footer-->
<div th:replace="/fragments/footer.html :: fragment-footer"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/js/change-password.js}"></script>
</body>
</html>