<!DOCTYPE html>
<html>
<head>
  <title>getCurrentPosition Example</title>
  <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=406784a1fe10d8f90dc9afa5b43d84c9&libraries=services"></script>
  <script>
    function getCurrentPosition() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }

    function showPosition(position) {
      var lat = position.coords.latitude; // 위도
      var lon = position.coords.longitude; // 경도

      var locPosition = new kakao.maps.LatLng(lat, lon); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
      var message = '<div style="padding:5px;">사용자 위치</div>'; // 인포윈도우에 표시될 내용입니다

      // 마커와 인포윈도우를 표시합니다
      displayMarker(locPosition, message);
    }

    function displayMarker(position, message) {
      var mapContainer = document.getElementById('map'); // 지도를 표시할 div
      var options = {
        center: position, // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
      };
      var map = new kakao.maps.Map(mapContainer, options); // 지도 생성

      var marker = new kakao.maps.Marker({
        position: position // 마커의 위치
      });

      marker.setMap(map); // 마커를 지도에 표시

      var infowindow = new kakao.maps.InfoWindow({
        content: message, // 인포윈도우에 표시할 내용
        position: position // 인포윈도우 표시 위치
      });

      infowindow.open(map, marker); // 인포윈도우를 지도에 표시
    }
  </script>
</head>
<body>
<button onclick="getCurrentPosition()">현재 위치 가져오기</button>
<div id="map" style="width:500px; height:400px;"></div> <!-- 지도를 표시할 div -->
</body>
</html>
