<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>

<body>
<h1>게시판</h1>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>가게이름</th>
        <th>가게코드</th>
        <th>주소</th>
        <th>도로명주소</th>
        <th>x좌표</th>
        <th>y좌표</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cafe, status : ${cafeList}">
        <td th:text="${status.index + 1}"></td>
        <td th:text="${cafe.bizesNm}"></td>
        <td th:text="${cafe.indsSclsCd}"></td>
        <td th:text="${cafe.lnoAdr}"></td>
        <td th:text="${cafe.rdnmAdr}"></td>
        <td th:text="${cafe.lon}"></td>
        <td th:text="${cafe.lat}"></td>
    </tr>
    </tbody>
</table>
</body>

</html>
